/* .forgot_password_main_container{
    z-index: 100;
} */

.forgot_password_head_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot_password_head_1{
    padding: 0 15px 15px 15px;
    font-size: larger;
    font-weight: bold;
}

.forgot_password_head_2{
    padding: 0 15px 15px 15px;
    font-size: medium;
}

.submit_forgot_password_btn{
    width: 70%;
}