.print_student_info_btn{
    width: 100px;
    height: 100px;
    font-size: x-large;
    border-radius: 50%;
    color: rgb(179, 179, 179);
}

.print_container{
    display: flex;
    flex-direction: column;
}

.print_student_table_info_container{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.print_student_table_info_btn{
    padding: 50px 60px 0 0;
    display: flex;
    align-items: center;
}