.print_student_info_btn{
    width: 100px;
    height: 100px;
    font-size: x-large;
    border-radius: 50%;
    color: rgb(179, 179, 179);
}

.print_container{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 15px;
    border-bottom: solid 1px lightgray;
}

.KY_letterhead_img_container{
    text-align: center;
    margin-bottom: 20px;
}

.KY_letterhead_img{
    width: 60%;
}

.print_student_info_container{
    padding-top: 10px;
}

.print_student_table_info_btn{
    padding-top: 50px;
}

.google_maps_btn_container{
    padding-top: 50px;
}

.google_maps_modal{
    padding: 15px;
    height: 700px;
}