.reset_password_head_container{
    display: flex;
    align-items: center;
}

.reset_password_inner{
    padding: 0 15px 35px 15px;
    font-size: larger;
}

.submit_reset_password_btn{
    width: 70%;
}