.signup_main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

/* .signup_card_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.KY_letterhead_img_container_signup{
    display: flex;
    justify-content: center;
}

.signup_card{
    width: 800px;
}

.signup_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup_form_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/* .signup_form_forgot{
    float: right;
} */

.signup_form_button{
    width: 200px;
}

.signup_link{
    padding: 15px 0 0 0;
}