.signup_card_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_card{
    width: 80%;
}

.signup_form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 300px;
}

.signup_form_inner{
   display: flex;
   flex-direction: column;
   width: 550px;
   padding: 15px;
}

.signup_form_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    padding-top: 25px;
}

.signup_form_button{
    width: 200px;
}

.signup_link{
    padding: 15px 0 0 0;
}