.main_details_container{
    display: flex;
    flex-direction: row;
    padding: 35px;
    width: 100%;
}

.main_detials_inner{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card_container{
    display: flex;
    gap: 15px;
}

.zman_goal_card{
    padding: 0 20px 20px 20px;
    text-align: center;
}

.zman_goal_description{
    padding-bottom: 30px;
}

.add_zman_goal_btn{
    width: 100px;
    height: 100px;
    font-size: x-large;
    border-radius: 50%;
    color: rgb(179, 179, 179);
}

.modal_title{
    text-align: right;
}