.main_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    padding-left: 10px;
}

.main_page_header_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header2{
    text-align: center;
    font-family: "OYoelTovia";
}

.header2_card{
    width: 80%;
}

.total_income_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.total_income_card{
    width: 50%;
}

.total_income{
    width: 100%;
    text-align: center;
    font-family: "OYoelTovia";
}

.student_amount_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.btn{
    margin: 10px;
}