.sider_container{
    display: flex;
    flex: 0 0 250px;
    background-color: aliceblue;
    filter: drop-shadow(3px 3px 3px gray);
}

.sider{
    width: 100%;
}

.sidebar_menu{
    width: 250px;
    background-color: aliceblue;
}