.sidebar_header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: lightgray;
    border-bottom: 2px solid #001529;
    padding-top: 20px;
    min-height: 100px;
}

.demo-logo-vertical{
    padding-top: 10px;
}

.sidebar_collapse_container{
    cursor: pointer;
    padding: 10px 16px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: large;
}

.sidebar_collapse_container:hover{
    background-color: rgb(1, 50, 66);
}

/* .dark_mode {
    background-color: #222 !important;
    color: #fff !important;
  }
  
  .light_mode {
    background-color: #fff !important;
    color: #222 !important;
  } */