.main_buses_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.content_container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.row{
    display: flex;
    justify-content: center;
}

.user_info_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 2px 5px 2px 5px; */
    color: rgb(154, 154, 154);
}

.add_btn_container{
    display: flex;
    justify-content: center;
    padding: 25px 50px 0 0;
    height: 10%;
}

.add_btn{
    height: 50%;
    width: 100%;
    font-size: larger;
}