.zman_goal_container{
    width: 100%;
}

.zman_goal_container_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zman_goal_form{
    width: 100%;
}

.total_goal_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.submit_goal_form_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.submit_goal_form_btn{
    width: 350px;
}