@font-face {
    font-family: 'OYoelTovia';
    src: url('./fonts/OYoelTovia.woff2') format('woff2'),
         url('./fonts/OYoelTovia.woff') format('woff'),
         url('./fonts/OYoelTovia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}