 .header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_yeshiva_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.header_yeshive_inner{
    line-height: 1;
    font-size: large;
}

.header_yeshive_name{
    line-height: 1;
    font-size: x-large;
}

.hebrew_date{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex: 1;
}

.profile_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_welcome_container{
    line-height: 1.2;
}

.header_welcome_inner{
    text-align: center;
}

.header_welcome_name{
    font-size: large;
}