.print_main_container{
    text-align: center;
    padding: 10px;
}

.KY_letterhead_img_container.print_only{
  display: none;
}

.print_list_data_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    color: gray;
}

.print_list_titel_container{
    display: flex;
    justify-content:center;
    font-size: 1.5rem;
}

.print_list_titel_checkbox{
  display: flex;
}

.print_list_titel_inner{
  display: flex;
  justify-content: center;
  flex: 1;
}

.print_card_item{
  padding-top: 10px;
}

.label-container{
  padding: 3px;
}

.strong-container{
  padding: 3px;
}

@media print {
    .student_info_to_print_container {
      width: 100%;
      padding: 25px;
    }
    .KY_letterhead_img_container.print_only{
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .print_list_container {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    .print_card_item {
      margin-bottom: 10px;
    }
  
    .print_page {
      page-break-after: always;
    }

    .print_page:last-of-type {
      page-break-after: auto; 
    }
  }
  
  